gunicorn
h5py
numpy
flask
joblib
scikit-learn
Pillow 
tensorflow
docker
keras 
pandas
requests
gcd
bcrypt
cffi 
Click 
dominate
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
itsdangerous 
Jinja2 
MarkupSafe 
passlib 
psycopg2 
pycparser 
six 
SQLAlchemy
visitor
