gunicorn
h5py
scipy
numpy
flask
joblib
scikit-learn
Pillow 
tensorflow==2.9.0
protobuf==3.20.1
docker
keras==2.9.0 
pandas
requests
gcd
bcrypt
cffi 
Click 
dominate
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
itsdangerous 
Jinja2 
MarkupSafe 
passlib 
psycopg2 
pycparser 
six 
SQLAlchemy
visitor
